<div class="row" >
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div  >
            <label for="title">Title</label>
            <input type="text"  class="form-control" formControlName="title" id="title">
          </div>

          <div class="form-group">
            <label for="sentence">Sentence</label>
            <input  type="text"  class="form-control" formControlName="sentence" id="sentence">
          </div>

         <!-- <div class="form-group">
           <label for="type">Type</label>
           <select  [formControlName]="message.type" class="form-control" name="type" id="type">
              <option *ngFor="let item of types" [value]="item.typeId">{{item.definition}}</option>
           </select>
         </div> -->

         <div class="form-group">
          <input type="Submit" value="Save">
        </div>

  </form>
  </div>
</div>
